@import "settings/variables";
@import "shared/shared";

.header {
  @include fill-parent();
  background-color: transparent;
  height: 100px;
  color: white;
}

.header-logo {
  margin-top: 30px;
  margin-left: 30px;
}

.header-right {
  font-family: $font-family-heading;
  font-size: 50px;
}

.header-right ul {
  margin-top: 10px;
}

.header-right ul li {
  list-style-type: none;
  float: right;
  padding-left: 40px;
}

@include media($small-screen) {
  .header-logo { @include span-columns(1); }
  .header-right { visibility: hidden; @include span-columns(1); }
}

@include media($medium-screen) {
  .header-logo { @include span-columns(1); }
  .header-right { @include span-columns(2.75); @include span-columns(0);
    font-size: 30px;
  }
  .header-right ul {
    margin-top: 30px;
  }
  .header-right li {
    padding-left: 10px;
  }
}

@include media($large-screen) {
  .header-logo { @include span-columns(1.8); }
  .header-right { @include span-columns(5); @include shift(0.5); }
}

@include media($xl-screen) {
  .header-logo { @include span-columns(2); }
  .header-right { @include span-columns(6); @include shift(3); }
}