@import "settings/variables";
@import "shared/shared";

.App {
  @include outer-container(100%);
  text-align: center;
}

.App-logo {
  animation: Logo-bounce infinite 5s linear;
}

.App-header {
  background-color: #ffe93d;
  height: 600px;
  padding-top: 250px;
  color: #ed145b;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes Logo-bounce {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}



@include media($small-screen) {
  .App-header { @include span-columns(2); }
  .App-logo { width: 250px; }
}

@include media($medium-screen) {
  .App-header { @include span-columns(4); }
  .App-logo { width: 400px; }
}

@include media($large-screen) {
  .App-header { @include span-columns(8); }
  .App-logo { width: 600px; }
}

@include media($xl-screen) {
  .App-header { @include span-columns(12); }
  .App-logo { width: 800px; }
}
